.header
    position fixed
    top 0
    width 100%
    height 100px
    padding 30px 60px
    display flex
    justify-content space-between
    align-items center
    background white

.logo
    height 100%
    img
        max-height 100%

.auth-buttons
    display flex