@require '~styles/colors'

.container
    &:not(:last-child)
        margin-bottom 30px

.label
    display block
    &, input
        font-size 1.1rem

    span
        display block
        font-weight 600

.input
    padding 12px
    border-radius 5px
    border none
    background light-blue
    margin-top 14px
    width 100%
