@require '~styles/mixins'

.container
    width 100%
    min-height 100%
    display flex
    flex-direction column
    align-items center
    margin-bottom 80px

    +media-up(md)
        padding-top 80px

.stepper
    margin-bottom 48px

.content
    width 90%
    max-width 450px