.container
    width 100%
    height 100%
    display flex
    flex-direction column
    align-items center
    padding-top 80px

.stepper
    margin-bottom 48px

.content
    width 90%
    max-width 450px