@require '~styles/colors'

.intro
    height 100%
    display flex
    justify-content center
    align-items center

.card-grid
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-template-rows 1fr 1fr
    grid-gap 48px
