@require '~styles/colors'

.button
    font-size 1rem
    font-weight 700
    padding 8px
    border-radius 5px
    cursor pointer
    border 2px solid
    color deep-blue
    background white
    min-width 130px
    height 40px
    transition .2s ease-out

    &.primary
        color white
        border-color deep-blue
        background deep-blue

        &:hover
            background white
            color deep-blue

    &.secondary
        border-color deep-blue

    &.link
        border-color white

    &:disabled
        background light-blue
        color #7a7a7a
        border-color light-blue

.fluid
    width 100%